<header>
  <!--==============================
              Stuck menu
  =================================-->
  <section id="stuck_container">
    <div class="container">
      <div class="row">
        <div class="grid_12">
          <h1>
            <a href="index.html">
              <img src="assets/images/logo.png" alt="Logo alt" />
            </a>
          </h1>
          <div class="navigation">
            <nav>
              <ul class="sf-menu">
                <li class="current"><a href="index.html">Home</a></li>
                <li><a href="index-1.html">Food</a></li>
                <li><a href="index-2.html">Tech</a></li>
                <li><a href="index-3.html">Psych</a></li>
                <li><a href="index-4.html">Me</a></li>
              </ul>
            </nav>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</header>
