<section class="content">
  <div class="ic">
    More Website Templates @ TemplateMonster.com - July 30, 2014!
  </div>
  <div class="container">
    <div class="row">
      <div class="grid_4">
        <div class="banner">
          <div class="gall_block">
            <img src="assets/images/page1_img1.jpg" alt="" />
            <div class="bann_capt">
              <div class="maxheight">
                <img src="assets/images/icon1.png" alt="" />
                <div class="bann_title">
                  Fork <br />
                  美食
                </div>
                <a href="#">食記</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="grid_4">
        <div class="banner">
          <div class="gall_block">
            <div class="bann_capt bn__1">
              <div class="maxheight">
                <img src="assets/images/icon2.png" alt="" />
                <div class="bann_title">
                  Tech <br />
                  科技
                </div>
                <a href="#">筆記</a>
              </div>
            </div>
            <img src="assets/images/page1_img2.jpg" alt="" />
          </div>
        </div>
      </div>
      <div class="grid_4">
        <div class="banner">
          <div class="gall_block">
            <img src="assets/images/page1_img3.jpg" alt="" />
            <div class="bann_capt bn__2">
              <div class="maxheight">
                <img src="assets/images/icon3.png" alt="" />
                <div class="bann_title">
                  Psych <br />
                  心理學
                </div>
                <a href="#">心計(X)</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="grid_12" style="margin-top: 10px">
        <div class="box">
          <div class="row">
            <div class="grid_10 preffix_1">
              <h2>美食 x 科技 x 心理學</h2>
              <p>
                我花了 30
                分鐘在想要怎麼介紹自己的部落格，但仍然想不到一個好的介紹，於是我套用了我面對問題常用的準則：
                如我過了 30 分鐘還想不到好的解法，那就先讓他會動就好！
              </p>
              <p>================ 會動就好的分隔線 ================</p>
              <p>
                這是一個奇特的部落格，有美食、有旅遊、有程式技術、有科普、有社會議題、有心理學。我相信這一定是個非大眾口味的奇特組合，
                但是我不想管太多，只想在這裡記錄下我喜歡的東西，並分享給有同樣興趣的人
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="grid_12">
        <h2>近期更新</h2>
      </div>
      <div class="gallery">
        <div class="grid_4">
          <a href="assets/images/big1.jpg" class="gall_item"
            ><img src="assets/images/page1_img4.jpg" alt="" /></a
          ><a href="#" class="link1">+</a>
          <div class="clear"></div>
        </div>
        <div class="grid_4">
          <a href="assets/images/big2.jpg" class="gall_item"
            ><img src="assets/images/page1_img5.jpg" alt="" /></a
          ><a href="#" class="link1">+</a>
          <div class="clear"></div>
        </div>
        <div class="grid_4">
          <a href="assets/images/big3.jpg" class="gall_item"
            ><img src="assets/images/page1_img6.jpg" alt="" /></a
          ><a href="#" class="link1">+</a>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
</section>
